adafruit-circuitpython-busdevice>=5.2.9
adafruit-circuitpython-requests>=3.2.10
adafruit-circuitpython-connectionmanager>=3.1.0
adafruit-circuitpython-typing>=1.10.3
Adafruit-Blinka>=8.40.1
Adafruit-PureIO>=1.1.11
Adafruit-PlatformDetect>=3.69.0
mypy>=1.10.0
mypy-extensions>=1.0.0
numpy==1.26.4
opencv-python>=4.10.0.82
pyftdi>=0.55.4
pyusb==1.2.1
reactivex==4.0.4
typing_extensions>=4.12.0